<div class="row d-flex">
    <div class="col">
        <br>
        <h3>
            Covid-19 Information Center
        </h3>
        <!-- Button trigger modal -->
<button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Disclaimer
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Disclaimer</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            https://cuppalabs.github.io/CoviTracker (the “Site”) is for general informational purposes. All information on the Site is provided in good faith, however we make no representation or warranty of any kind, express or implied, regarding the accuracy, availability or completeness of any information on the Site.

            Under no circumstance shall we have any liability to you for any loss or damage of any kind incurred as a result of the use of the site or reliance on any information provided on the site.
                                    
            The Site may contain or you may be sent through the Site links to other websites or content belonging to or originating from third parties or links to websites and features in banners or other advertising. Such external links are not investigated, monitored, or checked for accuracy, adequacy, validity, reliability, availability or completeness by us.
            
            We do not warrant, endorse, guarantee, or assume responsibility for the accuracy or reliability of any information offered by third-party websites linked through the site or any website or feature linked in any banner or other advertising. We will not be a party to or in any way be responsible for monitoring any transaction between you and third-party providers of products or services.
            
            By using our website, you hereby consent to our disclaimer and agree to its terms.
            
        </div>
      </div>
    </div>
  </div>
        <div class="alert alert-warning" role="alert">
            Disclaimer: Cuppa Labs and the author will not be responsible for the information shared here on this forum. This is only an information sharing platform to help people in need to reach out to others. Kindly use with caution.
          </div>
        <hr>
    <disqus [identifier]="'/informationCenter'"></disqus>
    </div>
    <div class="col-md-3">
       <!--  <ng2-adsense [adClient]="'ca-pub-4525567075133342'" [adSlot]="2263435109" [display]="'inline-block'" [width]="300"
        [height]="250" adFormat="rectangle" [className]="'cuppa-ad'"></ng2-adsense>
      <ng2-adsense [adClient]="'ca-pub-4525567075133342'" [adSlot]="6386579727" [display]="'inline-block'" [width]="300"
        [height]="250" adFormat="rectangle" [className]="'cuppa-ad'"></ng2-adsense> -->
    </div>
    <footer class="footer">
        <p>© 2009-2021 &nbsp; <a href="https://cuppalabs.github.io" style="color: #fff;">Cuppa Labs</a> &nbsp; <b>Made in India</b>.
          All rights reserved and copyrighted to <b>Pradeep Kumar Terli</b></p>
          <small>Icon made by Freepik from <a target="__blank" href="https://www.flaticon.com">www.flaticon.com</a></small>
      </footer>
</div>
