<div class="row pt-2 pb-3">
  <div class="col-xs-12 col-md-auto me-auto">
    <h5 class="mb-0 d-none d-sm-block">
      <span
        title="{{ districtsCollection[districtId]?.district_name }}"
        class="distric-name"
        >{{ districtsCollection[districtId]?.district_name }}</span
      >
      <small style="font-size: 10px">{{ centers.length }} Centers</small>
    </h5>
    <h5 class="mb-0 d-block d-sm-none">
      <span
        title="{{ districtsCollection[districtId]?.district_name }}"
        class="d-block d-sm-none"
      >
        {{ districtsCollection[districtId]?.district_name }}
        <small style="font-size: 10px">{{ centers.length }} Centers</small>
      </span>
    </h5>
    <small class="pb-2">{{
      statesCollection[districtsCollection[districtId]?.state_id]
    }}</small>
  </div>
  <div class="col col-sm-auto brand-options">
    <!--         <small style="margin-right: 10px;">Vaccine Brand</small><br>
 -->
    <select
      class="form-select state-select"
      [(ngModel)]="vaccineBrand"
      (ngModelChange)="changeBrand($event)"
      aria-label="Default select example"
    >
      <option selected value="All">All Vaccine Brands</option>
      <option [value]="'COVISHIELD'"><span class="badge bg-primary">COVISHIELD</span></option>
      <option [value]="'COVAXIN'">COVAXIN</option>
    </select>
  </div>
  <div class="col col-sm-auto age-options">
    <!--         <small style="margin-right: 10px;">Age Limit</small><br>
 -->
    <select
      class="form-select state-select"
      [(ngModel)]="ageGroup"
      (ngModelChange)="changeAge($event)"
      aria-label="Default select example"
    >
      <option selected value="All">All Ages</option>
      <option [value]="18">18+ Years</option>
      <option [value]="45">45+ Years</option>
    </select>
    <!--         <div class="form-check form-check-inline" *ngFor="let item of ageOptions">
            <input class="form-check-input" type="checkbox" [value]="item.isChecked" (change)="changeSelection(item)" [checked]="item.isChecked">
            <label class="form-check-label" for="inlineCheckbox1">{{item.label}}</label>
          </div> -->
  </div>
  <div class="col col-sm-auto">
    <input
      type="text"
      class="form-control custom-input table-filter"
      (input)="dt1.filterGlobal($event.target.value, 'contains')"
      placeholder="Search by Hospital/Address/fees type/Pincode"
    />
  </div>
</div>
<div class="custom-column-height">
  <p-table
    #dt1
    [value]="centers"
    sortField="name"
    [scrollable]="true"
    scrollHeight="flex"
    [globalFilterFields]="['name', 'block_name', 'fee_type', 'pincode']"
    [loading]="loading"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name" class="hospital-column" rowspan="2">
          Hospital<p-sortIcon field="name"></p-sortIcon>
        </th>
        <th class="address-column"
          pSortableColumn="block_name"
          rowspan="2"
        >
          Address
        </th>
        <th colspan="7" style="text-align: center">Availability</th>
      </tr>
      <tr>
        <th *ngFor="let day of week" style="text-align: center">{{ day }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-center>
      <tr>
        <td class="hospital-column">
          {{ center.name }}<br />
          <span class="badge bg-info">{{ center.fee_type }}</span>
          <span class="badge bg-primary" *ngIf=" center.sessions[0].vaccine == 'COVISHIELD'">{{ center.sessions[0].vaccine }}</span>
          <span class="badge bg-warning" *ngIf=" center.sessions[0].vaccine == 'COVAXIN'">{{ center.sessions[0].vaccine }}</span>
          <a class="d-block d-sm-none btn btn-link btn-sm map-btn" (click)="openMap(center)"
            >View on map</a
          >
        </td>
        <td class="address-column">
          {{ center.block_name }} <br />
          <small>{{ center.pincode }}</small
          ><br />
          <a class="btn btn-link btn-sm map-btn" (click)="openMap(center)"
            >View on map</a
          >
        </td>
        <td *ngFor="let day of week; let i = index" style="text-align: center">
          <div *ngIf="center.sessions[i]">
            <h5>
              <span
                class="badge bg-success"
                *ngIf="center.sessions[i].available_capacity > 0"
              >
                {{ center.sessions[i].available_capacity }}
              </span>
              <span
                class="badge bg-danger"
                *ngIf="center.sessions[i].available_capacity === 0"
              >
                {{ center.sessions[i].available_capacity }}
              </span>
            </h5>
            <small class="age-limit"
              >{{ center.sessions[i].min_age_limit }}+</small
            ><br />
<!--             <small class="d-none d-sm-block">{{ center.sessions[i].vaccine }}</small>
 -->          </div>
          <div *ngIf="!center.sessions[i]">
            <h5>
              <span class="badge bg-danger"> 0 </span>
            </h5>
            <small class="age-limit" style="visibility: hidden">0</small>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="9" style="text-align: center">
          No vaccination centers available.
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
