

.age-limit {
}

.table-filter {
    min-width: 320px;
    margin: 5px 0px 0px 0px;
}
.distric-name {
    max-width: 165px;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    margin-right: 5px;
}
