<div class="row d-flex">
    <nav id="sidebarMenu2" class="col d-md-block sidebar2 collapse">
      <div class="position-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <select class="form-select state-select" [(ngModel)]="stateSearch" aria-label="Default select example">
              <option selected value="All">All States</option>
                <option *ngFor="let state of states" [value]="state.state_id">{{state.state_name}}</option>
              
            </select>
            <input type="text" class="form-control custom-input" [(ngModel)]="districtSearch" placeholder="Search District">

          </li>
        </ul>
      </div>
    </nav>
    <nav id="sidebarMenu" class="col d-md-block sidebar collapse">
      <div class="position-sticky">
        <ul class="nav flex-column">
          <span *ngFor="let district of districts | search:districtSearch:stateSearch">
            <li class="nav-item">
              <a class="nav-link lit-item-link" [routerLink]="['district', district.district_id]" routerLinkActive="active">
                <span data-feather="home"></span>
                {{ district.district_name }}
              </a>
            </li>
          </span>
        </ul>
      </div>
    </nav>
    <main class="col center-content pt-2">
      <div class="mobile-picker">
        <ngbd-datepicker-range-popup></ngbd-datepicker-range-popup>
        
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Districts</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <select class="form-select state-select" [(ngModel)]="stateSearch" aria-label="Default select example">
                      <option selected value="All">All States</option>
                        <option *ngFor="let state of states" [value]="state.state_id">{{state.state_name}}</option>
                      
                    </select>
                    <input type="text" class="form-control custom-input" [(ngModel)]="districtSearch" placeholder="Search District">
        
                  </li>
                </ul>
                <ul class="nav flex-column">
                  <span *ngFor="let district of districts | search:districtSearch:stateSearch">
                    <li class="nav-item nav-item-link" routerLinkActive="active">
                      <a class="nav-link lit-item-link" data-bs-dismiss="modal" [routerLink]="['district', district.district_id]" routerLinkActive="active">
                        <span data-feather="home"></span>
                        {{ district.district_name }}
                      </a>
                    </li>
                  </span>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <router-outlet></router-outlet>
    </main>
    <div class="col ad-container custom-column-height">
      <ng2-adsense [adClient]="'ca-pub-4525567075133342'" [adSlot]="2263435109" [display]="'inline-block'" [width]="300"
        [height]="250" adFormat="rectangle" [className]="'cuppa-ad'"></ng2-adsense>
      <ng2-adsense [adClient]="'ca-pub-4525567075133342'" [adSlot]="6386579727" [display]="'inline-block'" [width]="300"
        [height]="250" [className]="'cuppa-ad'"></ng2-adsense>
        <footer class="footer">
          <p>© 2009-2021 &nbsp; <a href="https://cuppalabs.github.io" style="color: #fff;">Cuppa Labs</a> &nbsp; <b>Made in India</b>.
            All rights reserved and copyrighted to <b>Pradeep Kumar Terli</b></p>
            <small>Icon made by Freepik from <a target="__blank" href="https://www.flaticon.com">www.flaticon.com</a></small>
        </footer>
    </div>
  </div>