<nav class="navbar navbar-expand-lg fixed-top cuppa-navbar">
  <div class="container-fluid">
    <div class="navbar-brand cuppa-brand col-lg-2" href="#">
      <button class="navbar-toggler ham-btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </button>
    <a class="navbar-brand cuppa-brand" [routerLink]="['vaccineTracker/district/582']">
      <img src="assets/img/vaccine2.png" height="30" alt="" />
      Covi Tracker
    </a>
    <button type="button" class="btn btn-link change-city-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Change District <i class="bi bi-chevron-down"></i>
    </button>
  </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-none d-sm-block d-md-none d-lg-block">
        <li class="nav-item calendar-container">
          <ngbd-datepicker-range-popup></ngbd-datepicker-range-popup>
        </li>
      </ul>

      <ul class="navbar-nav m2-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['vaccineTracker/district/582']">Vaccination Slots</a>
        </li>
<!--         <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['informationCenter']">Information Center</a>
        </li> -->
        <li class="nav-item calendar-container">
          <div class="share-list">
            <label class="pr-3 pl-3">Share on</label>
            <a class="share-item fb" href="http://www.facebook.com/sharer.php?u=https://cuppalabs.github.io/CoviTracker" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;"
              rel="nofollow" target="_blank">
              <i class="bi bi-facebook"></i>
          </a>
            <a class="share-item linkedin" href="http://www.linkedin.com/shareArticle?url=https://cuppalabs.github.io/CoviTracker" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;"
              rel="nofollow" target="_blank">
              <i class="bi bi-linkedin"></i>
          </a>
            <a class="share-item twitter" href="http://twitter.com/share?url=https://cuppalabs.github.io/CoviTracker" onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;"
              rel="nofollow" target="_blank">
              <i class="bi bi-twitter"></i>
          </a>
          </div>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="http://cuppalabs.github.io/aboutme" target="_blank">About Me</a>
        </li>
        <li class="nav-item power-title">
          <small>Powered by</small>
          <a style="float: right;" target="__blank" href="https://cuppalabs.github.io"><img src="assets/img/cuppa-logo-coffee11.png" height="20" alt="" /></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
